.sidebar {
    height: 100vh;
    position: fixed;
    top: 60px; /* Adjust this to match TopBar height */
    left: 0;
    background-color: #fff;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
    z-index: 100;
  }
  
  .logoArea {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
  }
  
  .collapseBtn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .menu {
    margin-top: 20px;
  }
  
  .collapsed-item {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }