.wrapper {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: 500;
  margin-bottom: 4px;
  color: #8418ff;
}

.required {
  color: red;
  margin-left: 4px;
}

.select {
  width: 100%;
}
