.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .label {
    font-weight: 500;
    color: #510ece;
    margin-bottom: 6px;
  }
  
  .required {
    color: red;
  }
  
  .select {
    width: 100%;
  }
  
  :global(.ant-select-selector) {
    border-radius: 6px !important;
    border-color: #510ece;
    background-color: #510ece;
  }
  
  :global(.ant-select-focused .ant-select-selector) {
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    border-color: #510ece;
  }
  